@page "/"
@using Toast.Services
@using Toast.Models
@inject IToastNotificationService ToastService

<h1>Blazor Toasts</h1>

<div class="my-3">
    <h3>Template</h3>
    <div class="my-2">Show Toast that uses a render fragment.</div>
    <button class="btn btn-primary" @onclick="@ShowTemplateToast">Show Toast</button>
</div>

<div class="my-3">
    <h3>Standard</h3>
    <div class="my-2">Show standard toasts message.</div>
    <button class="btn btn-primary" @onclick="@ShowStandardToast">Show Toast</button>
</div>

<ToastNotification OnRenderComplete="@SetFragment">
    <SampleToast />
</ToastNotification>

@code
{
    public ToastMessage StandardToast { get; set; }

    public ToastMessage TemplateToast { get; set; }

    public void SetFragment(RenderFragment fragment) 
    {
        TemplateToast = new ToastMessage();
        TemplateToast.Template = fragment;
        TemplateToast.Type = ToastTypes.Template;
    }

    public void ShowStandardToast() 
    {
        StandardToast = new ToastMessage();
        StandardToast.Title = "Standard Toasts";
        StandardToast.Message = "A standard toast message field.";
        ToastService.Show(StandardToast);
    }

    public void ShowTemplateToast() 
    {
        ToastService.Show(TemplateToast);
    }
}
