@using Toast.Models

<div class="sample-toast">
    <h6>@Toast.Title</h6>
    <span>@Toast.Message</span>
</div>

@code
{
    [Parameter]
    public ToastMessage Toast { get; set; } = new ToastMessage();
}