@using Toast.Services

@inject IToastNotificationService ToastService

<div class="blazor-toast @activeClass">
   @Content
</div>

@code 
{
    public List<string> Toasts { get; set; }

    public RenderFragment Content { get; set;}

    public bool IsActive { get; set; } = false;

    public string activeClass => IsActive ? "active" : "";

    protected override void OnInitialized()
    {
        ToastService.watchToastQueue()
            .Subscribe((RenderFragment fragment) => {
                Content = fragment;
                IsActive = true;
                StateHasChanged();
            });

        ToastService.watchToastDismiss()
            .Subscribe((dynamic value) => {
                IsActive = false;                
                StateHasChanged();
            });
    }
}